/img/*.db
/img/eldorado/*.db
/img/items/*.db
/img/items/followers/*.db
/img/open-iconic/*.db
/nbproject/private/
/nbproject
*.xcf
*.komodoproject
tools/
index-dev.html
balancing.html
*.bat
worldcreator.html
.vscode/
*_unused_*

# Node.js runtime
node_modules/
.env
.env.*
!.env.example
npm-debug.log*
coverage/
.DS_Store
